#navbar{
    color:white;
    font-size: 20px;
    
}
body{
    font-family: 'Abril Fatface', cursive;
    background-image: url("https://media0.giphy.com/media/3oEjHGZkrolm9UgvM4/giphy.gif");
    

}

h3{
    text-align: center;
 
}

text{
    background-color: #e6f2ff;
    padding: 20px;
    float: right;
}

.forecast {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0px;
}
.btnDanger{
    background-color: red;

}
.btnmild{
    background-color: yellow;

}
.btnNoDanger{
    background-color: green;
   
}


.card {
    float: left;
    width: 25%;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 1px;
    text-align: center;
}
.row {
    margin: 0 -5px;
}


.searcharea {
      margin-left: 65%;
      float:right;
  }

.col {

  }