text{
    background-color: #e6f2ff;
    padding: 20px;
    float: right;
}

.forecast {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0px;
}


.card {
    float: left;
    width: 25%;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 1px;
    text-align: center;
}
.row {
    margin: 0 -5px;
}


.searcharea {
      margin-left: 57%;
      float:right;
  }

.col {

  }